
/*

Theme Name:         Safety Advisory Services MS Theme

Theme URI:          http://ets.io/

Description:        MS Theme for S-A-S.com.au websites

Version:            2.0.0

Author:             ETS Web Design, based on Twitter Bootstrap 3, HTML5 Boilerplate and Roots Framework by http://benword.com/

Author URI:         http://ets.io/

*/



.ass-text {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);

    border: medium none;

}




   