/*
 * Bootstrap v3.0.0
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 
 /* CSS Custom */

body {background: url('/media/main-bg.jpg') no-repeat fixed center top #D6E8F2 ; margin-top:0px; margin-bottom:0px; font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; height:auto;    padding: 0;
    margin: 0;}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -25px;
}
/* Set the fixed height of the footer here */
#push {
    height: 25px;
}

#footer a {
	color:#000;
}

.fa-facebook {
color: #C9AE20;
}

.fa-facebook a:hover, .fa-facebook a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #DDDDDD;
}

.fa-linkedin {
color: #C9AE20;
}

.fa-linkedin a:hover, .fa-linkedin a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #DDDDDD;
}

.fa-twitter {
color: #C9AE20;
}

.fa-twitter a:hover, .fa-twitter a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #DDDDDD;
}

.fa-youtube {
color: #C9AE20;
}

.fa-youtube a:hover, .fa-youtube a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #DDDDDD;
}

.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] {
width: 100% !important;
}

.content {background-color:#FFF;box-shadow: 0px 0px 20px #000;  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;}

.title-header {background-image: url('/media/bg-header.jpg'); height:190px; background-size:100%; background-repeat: no-repeat;    border-top-left-radius: 50px 55px;    border-top-right-radius: 50px 55px;box-shadow: 0px 10px 20px #000;}

.slider-header {box-shadow: 0px 10px 20px #000;padding-left:0px;padding-right:0px;}

a {font-weight:bold;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; color:#C9AE20;
}

.main h2 {font-size: 24px;}

.main h3 {font-size: 18px;color:#428BCA;font-weight:bold;}

.panel-title {
    color: #C9AE20;
    text-decoration: none;
	font-weight:bold;
}

#footer .panel {
    margin-bottom: 0px;
}

#footer .panel-heading {
    padding: 2px;
}

#footer .panel-title {
    font-size: 14px;
}

#footer .list-group-item {
    padding: 2px;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
/*.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}*/
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.well-sidebar {
background: url('/media/sidebar-box-bg.jpg');
box-shadow: inset 0px 0px 10px 10px #a5daff;
border-radius:15px;
font:Arial, Helvetica, sans-serif;
}

.well-sidebar .title-text {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:24px;
	font-weight:bold;
	line-height:26px;
}

.well-sidebar .title-text-large {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:32px;
	font-weight:bold;
	line-height:34px;
}

.gold {
	color: #DFCA2A;
	text-shadow: 2px 2px 0px #888;
}

.navbar {
    margin-bottom: 0;
}

.sidebar {
	padding-top:20px;
}

.navbar-brand {
    padding: 0px;
}

.navbar-default {
background-color: transparent;
border-color: transparent;
}

#affixheader.affix {
width:100%;	

}

.panel-default {
    border-color: #B0911A;
}

.affix {
margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.affix {
    position: fixed;
    top: 0;
}

.navbar-collapse {
	box-shadow: 0px 0px 20px 5px #000;
	color:#fff;
  background-color: #1877b8; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #1877b8, #0e4f79);
  background-image: -ms-linear-gradient(top, #1877b8, #0e4f79);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1877b8), to(#0e4f79));
  background-image: -webkit-linear-gradient(top, #1877b8, #0e4f79);
  background-image: -o-linear-gradient(top, #1877b8, #0e4f79);
  background-image: linear-gradient(top, #1877b8, #0e4f79);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1877b8', endColorstr='#0e4f79', GradientType=0);
}

.navbar-collapse {
	background-color: #1877b8;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: inherit;
    color: #C9AE20;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #C9AE20;
}

.nav {

}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}

.home > .navbar {
     margin-bottom: 0px;
}

#footer {min-height: 0px;}
#footer p {margin: 0;}

.navbar-fixed-bottom {
margin-top:20px;
padding-top:0px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.content-info .row {
background: #f2e998; /* Old browsers */
background: -moz-linear-gradient(top,  #f2e998 0%, #af8e17 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2e998), color-stop(100%,#af8e17)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2e998 0%,#af8e17 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2e998 0%,#af8e17 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2e998 0%,#af8e17 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2e998 0%,#af8e17 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e998', endColorstr='#af8e17',GradientType=0 ); /* IE6-9 */
	border-top: medium solid #E7E7E7;

}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
	margin-bottom:20px;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-info .container > .row {
margin-left:0px;
margin-right:0px;
}

.navbar-fixed-bottom {
    border-width: 0;
}

.fullwidthbanner-container {
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100% !important;
}

.container .credit {
    margin: 10px 0;
}
.muted {
    color: #999999;
}

.img-rounded {border:#428BCA medium solid;}

.languagebar {float:right;padding-top: 30px;}

.productlist {font-size: 24px;padding: 0; list-style:none;}

.productlist li {margin-bottom:20px;}

.homeboxes .well {min-height:500px;}
.homeboxes .well img {min-height:306px;}
.homeboxes .well h3 {min-height:55px;}
@media (min-width: @screen-lg) { 
.homeboxes .well {min-height: 0px;}
.homeboxes .well h3 {min-height:0px;}
.homeboxes .well img {min-height:0px;}
}

.panel-silver {
    border-bottom-color: #b9b7b7;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color: #b9b7b7;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color: #b9b7b7;
    border-top-color: #b9b7b7;
}

.panel-silver > .panel-heading {
    background-color: #cbcbcb ;
    border-bottom-color: #b9b7b7 ;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color: #b9b7b7;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color: #b9b7b77;
    border-top-color: #b9b7b7;
    color: #000;
}

.panel-gold {
    border-bottom-color: #C9B148;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color: #C9B148;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color: #C9B148;
    border-top-color: #C9B148;
}

.panel-gold > .panel-heading {
    background-color: #DECE72 ;
    border-bottom-color: #C9B148 ;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color: #C9B148;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color: #C9B148;
    border-top-color: #C9B148;
    color: #000;
}

.panel-platinum {
    border-bottom-color: #d4d4d4;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color: #d4d4d4;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color: #d4d4d4;
    border-top-color: #d4d4d4;
}

.panel-platinum > .panel-heading {
    background-color: #dedede ;
    border-bottom-color: #d4d4d4 ;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color: #d4d4d4;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color: #d4d4d4;
    border-top-color: #d4d4d4;
    color: #000;
}

.frm_message form br { display:none; } 

.modal-dialog {
    position: static;
}